<div class="containerFooter">
  <div class="logoContainer">
    <img src="assets/image/LogoEmpresa.png" alt="" />
  </div>

  <div class="containerInfo">
    <div class="imgText">
      <img class="imgIcon" src="assets/image/iconos/ubicacion.png" alt="" />
      <a href="">Centro de Negocios Alamedas del Sinú Piso 8 Local 822</a>
    </div>

    <div class="imgText">
      <img
        class="imgIcon"
        src="assets/image/iconos/correo.png"
        alt=""
      />
      <a href="">advancedentalcenter@hotmail.com</a>
    </div>

    <div class="imgText">
      <img class="imgIcon" src="assets/image/iconos/whatsapp.png" alt="" />
      <a href="https://api.whatsapp.com/send?phone=+573013574306">3013574306</a>
    </div>

    <div class="imgText">
      <img class="imgIcon" src="assets/image/iconos/instagram.png" alt="" />
      <a href="https://www.instagram.com/advancedentalcenter/?hl=es-la"
        >advancedentalcenter</a
      >
    </div>
  </div>
</div>

<div class="copyright">
  <p>Advance Dental Center ©Copyright 2021</p>
</div>
