.containerTittle {
  width: 100%;
  height: 250px;
  position: relative;
  display: inline-block;
  text-align: center;

  background-image: url("src/assets/image/imgAlianzas.jpg");
  background-repeat: no-repeat;
  background-position: 20% 45%;
  background-size: 100% auto;
}

.textTittle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: black;
  font-size: 35px;
}

@media screen and (max-width: 400px) {
  .containerTittle {
    background-position: 20% 45%;
    background-size: auto 100%;
  }
}

.linea{
  margin: auto;
  /*border: 2px solid rgba(253, 206, 7, 0.658);*/
  border: 2px solid #88dfff;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.imgFlecha{
  width: 20px;
  cursor: pointer;
  margin-left: 15px;
}

#imgFlechaArriba{
  transform: rotate(-180deg);
}

.titleAlianza{
  font-weight: 700;
  /*background-color: rgba(253, 206, 7, 0.658);*/
  background-color: #88dfff;
  color: rgb(37, 37, 36);
  font-size: 23px;
  text-align: center;
  padding: 10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.containerArchivosPDF{

  height: auto;

  display: flex;
  align-items:flex-start ;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 90%;
  margin-top: 8px;
  border-radius: 8px;
}

.linkDescarga{
  text-align: start;
  margin: 10px;
  text-decoration: none;
  color: rgb(125, 125, 127);
  font-size: 20px;
  cursor: pointer;
}

.linkDescarga:hover{
  color: rgb(68, 68, 231);
  font-size: 22px;
}

.tittleAnio{
  font-weight: 700;
  color: rgb(125, 125, 127);
  margin-left: 17px;
  font-size: 25px;
}
