
<br id="id-servicios" >
<div  class="containerServices">
  <p class="titleServices">Nuestros Servicios</p>
</div>

<div class="container">

  <div class="card">
    <div class="card__header">
      <img src="./assets/image/img-servicios/20.jpeg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Salud</span>
      <h4>Odontologia General</h4>      
    </div>    
  </div>

  <div class="card">
    <div class="card__header">
      <img src="./assets/image/img-servicios/21.jpeg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Salud</span>
      <h4>Estetica Dental</h4>      
    </div>    
  </div>

  <div class="card">
    <div class="card__header">
      <img src="./assets/image/img-servicios/22.jpeg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Salud</span>
      <h4>Ortodoncia</h4>      
    </div>    
  </div>

  <div class="card">
    <div class="card__header">
      <img src="./assets/image/img-servicios/23.jpeg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Salud</span>
      <h4>Rehabilitacion Oral</h4>      
    </div>    
  </div>

  <div class="card">
    <div class="card__header">
      <img src="./assets/image/img-servicios/24.jpeg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Salud</span>
      <h4>Periodoncia</h4>      
    </div>    
  </div>

  <div class="card">
    <div class="card__header">
      <img src="./assets/image/img-servicios/25.jpeg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Salud</span>
      <h4>Cirugía Oral</h4>      
    </div>    
  </div>

  <div class="card">
    <div class="card__header">
      <img src="./assets/image/img-servicios/26.jpeg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Salud</span>
      <h4>Endodoncia</h4>      
    </div>    
  </div>
  
</div>
