<nav>
  <div class="containerNavOne">
    <div class="navegationOne">
      <a href="" routerLink="/nosotros">Nosotros</a>
      <a href="#id-servicios">Servicios</a>
      <a href="" routerLink="/pp-ss">PPSS</a>
    </div>
  </div>
  <div class="containerR">

    <div class="navegationOne" id="navegationOneSecud">
      <a href="" routerLink="/nosotros">Nosotros</a>
      <a href="#id-servicios">Servicios</a>
      <a href="" routerLink="/pp-ss">PPSS</a>
    </div>

    <div class="navegationTwo">
      
      <a href="" routerLink="/alianza-de-usuarios">Alianza de Usuarios</a>
      <a href="#id-contacto">Contacto</a>
    </div>
    <div class="logoContainer">
      <img src="assets/image/LogoEmpresaDos.png" alt="" />
    </div>
    <div class="mesaggeContainer">
      <p class="textMesagge">¡Nos caracterizamos por nuestro trabajo en equipo!</p>
    </div>
  </div>
</nav>
